/header-ignore.txt
/lib/x86_64-win64/project1.compiled
/lib/x86_64-win64/project1.o
/lib/x86_64-win64/project1.obj
/lib/x86_64-win64/project1.res
/lib/x86_64-win64/ufilesig.o
/lib/x86_64-win64/ufilesig.ppu
/lib/x86_64-win64/unit1.lfm
/lib/x86_64-win64/unit1.o
/lib/x86_64-win64/unit1.ppu
/lib/x86_64-win64/unit2.lfm
/lib/x86_64-win64/unit2.o
/lib/x86_64-win64/unit2.ppu
/backup/project1.lpi
/backup/project1.lps
/backup/unit1.lfm
/backup/unit1.pas
/debug.txt
/vc_hunter.exe
